table
{
    width: 100%;
}

table, th, td
{
    border:1px solid black;
}

th
{
    font-weight: bold;
}

legend
{
	color: #ffffff;
}

input,select,button
{
	color: #000000;
}

h2
{
	font-size: 2rem;
}

#chart-placeholder
{
	margin-top: 10px;
	background-color: #ffffff;
}

#chart-placeholder-legend
{
	float:right;
	background-color: #ffffff;
	color: #000000;
}

#chart-placeholder-legend ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#chart-placeholder-legend span
{
	width: 30px;
	height: 30px;
	display:inline-block;
